# This is Git's per-user configuration file.
[user]
	name = Ekaterina
	email = Semenovaekaterinaa@yandex.ru
# Please adapt and uncomment the following lines:
#	name = Екатерина Васильева
#	email = ekaterinavasileva@MacBook-Air-Ekaterina.local
